!!!
%html
  %head
    %title Admin
    = stylesheet_link_tag 'admin', :media => 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
%body
  #wrapper{ class: "#{params[:controller]}.#{params[:action]}" }
    = render 'layouts/admin/navigation'
    #page-wrapper.gray-bg{ class: "#{@extra_class}" }
      = render 'layouts/admin/topnavbar'
      = yield

  = yield :javascript
  = render 'layouts/flash'
